[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown-it-py = ">=3.0.0"

[dev-packages]
pytest = "*"
pre-commit = "*"
pytest-cov = "*"
codecov = "*"

[requires]
python_version = "3"